body {
    margin: 0;
    padding: 0;
    font-family: 'Encode Sans', sans-serif;
    background-color: #9A9996;
}

.header {
    font-size: 45px;
    text-align: center;

}
.some {
    border-bottom: 5px solid #999;
    margin-bottom: 2rem;
    display: flex;
}

#nav-left {
    float: left;
    margin-right: auto; 
    width: 60%;
    padding: 10px;
}

#nav-right {
    float: right;
    /*display: flex;*/
    /*padding-top: 1rem;*/
    background-color: #CDAB8F;
    width: 30%;
    height: 100%;
    padding: 10px;
    color: #33f;
}

.post-entry {
    margin-bottom: 2rem;
}

.post-entry h2 {
    margin: 0.5rem 0;
    color: #20f
}

.post-entry h2 a,
.post-entry h2 a:visited {
    color: blue;
    text-decoration: none;
}

.post-entry p {
    margin: 0;
    font-weight:400;
}

.post-entry h2 a:hover {
    color: red;
}

.text {
    color: #800E1C;
}

/*link*/
.link {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    position: relative;
    text-decoration: none;

    transition: color .2s linear;
}
.link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    /*display: none;*/
    opacity: 0;
    transition: opacity .4s linear;

    background-color: #F60B74;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
}

.link:hover {
    color: #F60B74;
}
.link:hover:after {
    /*display: block;*/    
    opacity: 1;
}



