{% load static %}


<!DOCTYPE html>
<html>
  <head>
    <title>
      {% block title %}
      {% endblock %}
    </title>
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans:wdth,wght@75..125,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  </head>
  <body>
    <div class="header">
      <a class="link" href="{% url "blog:home" %}">My blog</a>
    </div> 
    <div id="nav-left">
      {% block content %}
      {% endblock %}
    </div>
    <div id="nav-right">
      {% if user.is_authenticated %}
        <p>Hello {{ user.username }}.</p>
        <p>
          <a class="link" href="{% url "blog:new_post" %}">+ Add New Post</a>
        </p>
        {% block right %}
        {% endblock %}
        <p>
          <a class="link" href="{% url "logout" %}">logout</a>
        </p>
      {% else %}
        <p>You are not logged in.</p>
        <p>
          <a class="link" href="{% url "login" %}">
            login
          </a>
        </p>
      {% endif %} 
    </div>
  </body>
</html>
