{% extends 'base.html' %}


{% block title %}
  Blog detail
{% endblock %}
{% block content %}
  <div class="post-entry">
    <h2>Post "{{ post.title }}" by {{ post.author }}.</h2>
    <p class="text" >{{ post.body }}</p>
  </div>
{% endblock %}
{% block right %}
  <p>
    <a class="link" href="{% url "blog:edit" post.pk %}">
      Edit Blog Post
    </a>
  </p>
  <p>
    <a class="link" href="{% url "blog:delete" post.pk %}">
      Delete Blog Post
    </a>
  </p>
{% endblock %}
