{% extends "base.html" %}


{% block title %}
  blog home
{% endblock %}
{% block content %}
  {% for post in object_list %}
    <div class="post-entry">
      <h2><a class="link" href="{% url "blog:detail" post.pk %}">{{ post.title }}</a></h2>
      <p class="text" >{{ post.body|truncatewords_html:10 }}</p>
    </div>
  {% endfor %}
{% endblock %}
